body {
	font-size             : 14px;
	font-weight           : normal;
	font-family           : Arial;
	line-height           : 150%;
}

.clearfix {
	font-size             : 0;
	height                : 0;
	line-height           : 0;
	clear                 : both;
}

.left {
	float: left;
}

.right {
	float: right;
}

hr {
	border                : 0;
	border-top            : 1px dotted #CCC;
}

#wrap {
	width                 : 620px;
	padding               : 10px;
	margin                : 0 auto;
	position              : relative;
}

#wrap #content {
	/*width                 : 80%;*/
}

/*#wrap #sidebar {*/
	/*width                 : 20%;*/
	/*text-align            : right;*/
	/*position              : absolute;*/
	/*top                   : 0;*/
	/*right                 :0 */
/*}*/

#wrap #content #article {
	/*margin-right          : 30px;*/
}
